<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О нас</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="{% url 'index' %}">Главная страница</a>
            </li>
            <li>
                <a href="{% url 'services' %}">Услуги</a>
            </li>
            <li>
                <a href="{% url 'contacts' %}">Контакты</a>
            </li>
        </ul>
    </nav>
    <h1>О нас</h1>
    <p> Здесь находится информация о нас </p>
</body>
</html>