<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="{% url 'index' %}">Главная страница</a>
            </li>
            <li>
                <a href="{% url 'services' %}">Услуги</a>
            </li>
            <li>
                <a href="{% url 'about' %}">О нас</a>
            </li>
        </ul>
    </nav>
    <h1>Контакты</h1>
    <p>Здесь находятся контакты </p>
    <p>Номер: </p>
    <p>Адрес: </p>
    <p>Эл.почта: </p>
</body>
</html>