{% extends "base.html" %}

{% block title %}<title>Товары/услуги</title>{% endblock %}

{% block content %}
    <h1>Товары/услуги</h1>
    <h3>товары:</h3>
    {% for product in products %}
        <div>
            <p>Название: {{product.name}}</p>
            <p>Описание: {{product.desc}}</p>
            <p><img class="img" src="/media/{{ product.photo }}"></p>
            <p><a href="{% url 'services-detail' product.id %}">Перейти на страницу товара/услуги</a></p>
        </div>
        {% if not forloop.last %}
        {% endif %}
    {% endfor %}
{% endblock %}